@import "bootstrap-sprockets";
@import "bootstrap";

.exp-card{
  margin:8px;
}

.department-card{
  background-color: white;
  padding: 10px;
  margin:5px;
  box-shadow: 1px 1px 3px black;
}
.it-depart{
  background-color: rgba(102, 104, 103, 0.86);
}
.hr-depart{
  background-color: rgba(225, 9, 9, 0.76);
}
.account-depart{
  background-color: rgba(35, 144, 172, 0.86);
}
